<!-- 背景图片 -->
<div class="login-background" [@fadein]></div>

<!-- 标题 -->
<div nz-row [nzType]="'flex'" [nzJustify]="'center'" [@fadein]>
  <div nz-col [nzSpan]="12" class="login-title"><h1>管理员登录</h1></div>
</div>
<!-- 内容 -->
<div nz-row [nzType]="'flex'" [nzJustify]="'center'" [@fadein]>
  <div nz-col [nzSpan]="8" class="login-content">
    <!-- 表单 -->
    <form nz-form [formGroup]="loginForm">

      <!-- 账号 -->
      <div nz-form-item nz-row [nzType]="'flex'" [nzJustify]="'center'">
        <!-- 标签 -->
        <div nz-form-label nz-col [nzSpan]="4"><label nz-form-item-required>账号</label></div>
        <!-- 输入框 -->
        <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="loginForm.controls.username" nzHasFeedback>
          <nz-input formControlName="username" name="username" [nzPlaceHolder]="'请输入您的账号'"
                    [nzSize]="'large'" [nzReadonly]="http.loading"></nz-input>
        </div>
      </div>

      <!-- 密码 -->
      <div nz-form-item nz-row [nzType]="'flex'" [nzJustify]="'center'">
        <!-- 标签 -->
        <div nz-form-label nz-col [nzSpan]="4"><label nz-form-item-required>密码</label></div>
        <!-- 输入框 -->
        <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="loginForm.controls.password" nzHasFeedback>
          <nz-input formControlName="password" name="password"
                    [nzPlaceHolder]="'请输入您的密码'" [nzSize]="'large'" [nzType]="'password'"
                    [nzReadonly]="http.loading"></nz-input>
        </div>
      </div>

      <!-- 验证码 -->
      <div nz-form-item nz-row [nzType]="'flex'" [nzJustify]="'center'">
        <!-- 标签 -->
        <div nz-form-label nz-col [nzSpan]="4"><label nz-form-item-required>验证码</label></div>
        <!-- 输入框 -->
        <div nz-form-control nz-col [nzSpan]="9" [nzValidateStatus]="loginForm.controls.verifycode" nzHasFeedback>
          <nz-input formControlName="verifycode" [nzPlaceHolder]="'请输入图片验证码'"
                    [nzSize]="'large'" [nzType]="'verifycode'" [nzReadonly]="http.loading"></nz-input>
        </div>
        <div nz-col [nzSpan]="1"></div>
        <div nz-col [nzSpan]="4" (click)="!http.loading && loadVerfiyCodeImg();">
          <img [src]="verifycodeImg" class="login-content-verifycodeImg" />
        </div>
      </div>

      <!-- 按钮 -->
      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzGutter]="10">
        <button nz-col [nzSpan]="14" class="login-content-button"
                nz-button [nzType]="'primary'" [nzSize]="'large'"
                [disabled]="loginForm.invalid" (click)="login();" [nzLoading]="http.loading"><span>登录</span></button>
        <div nz-col [nzSpan]="4">
          <nz-switch class="login-content-rememberme" formControlName="rememberme" [nzDisabled]="http.loading">
            <span checked>记住我</span>
            <span unchecked>记住我</span>
          </nz-switch>
        </div>
      </div>

    </form>
  </div>
</div>
