<nz-layout id="dashboard" [@fadeInFromDown2Up]>

  <!-- 左侧菜单 -->
  <nz-sider id="menus" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <!-- logo -->
    <div class="logo"></div>
    <!-- 菜单 -->
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <app-admin-dashboard-public-menu [menus]="menus"></app-admin-dashboard-public-menu>
    </ul>
  </nz-sider>

  <!-- 右侧内容 -->
  <nz-layout class="right-content">
    <!-- 头部 -->
    <nz-header>
      <div nz-row>
        <div nz-col [nzSpan]="12">
          <i class="anticon trigger"
             [class.anticon-menu-fold]="!isCollapsed"
             [class.anticon-menu-unfold]="isCollapsed"
             (click)="isCollapsed=!isCollapsed"></i>
        </div>
        <div nz-col [nzSpan]="9"></div>
        <div nz-col [nzSpan]="1" class="header-item" (click)="startRainbowColor();">
          <i class="anticon anticon-heart"></i>
        </div>
        <div nz-col [nzSpan]="1" class="header-item">
          <i class="anticon anticon-setting"></i>
        </div>
        <div nz-col [nzSpan]="1" class="header-item">
          <nz-dropdown [nzPlacement]="'bottomRight'" nz-dropdown>
            <i class="anticon anticon-user"></i>
            <ul nz-menu>
              <li nz-menu-item (click)="logout();">
                <i class="anticon anticon-poweroff"></i>
                <span class="dropdown-item-text">登出</span>
              </li>
            </ul>
          </nz-dropdown>
        </div>
      </div>
    </nz-header>
    <!-- 内容 -->
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <!-- 页脚-->
    <nz-footer>Ng-Nut -- Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
