/*滚动条样式*/
:host ::ng-deep nz-layout::-webkit-scrollbar,
:host ::ng-deep html::-webkit-scrollbar,
:host ::ng-deep body::-webkit-scrollbar {
  /* 高宽分别对应横竖滚动条的尺寸 */
  width: 4px;
  height: 4px;
}
/* 滚动条里面小方块 */
:host ::ng-deep nz-layout::-webkit-scrollbar-thumb,
:host ::ng-deep html::-webkit-scrollbar,
:host ::ng-deep body::-webkit-scrollbar {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
/* 滚动条里面轨道 */
:host ::ng-deep nz-layout::-webkit-scrollbar-track,
:host ::ng-deep html::-webkit-scrollbar,
:host ::ng-deep body::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

/* mask */
:host ::ng-deep #loadingMask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1000000;
}
:host ::ng-deep #loadingMask > nz-spin {
  position: fixed;
  top: 45%;
  left: 50%;
}


/* 调整NgZorro样式 */
/* 调整表格中字体大小 */
:host ::ng-deep .ant-table {
  font-size: 14px;
}
/* 搜索框列取消底部marigin */
:host ::ng-deep .search-box .ant-row {
  margin-bottom: 0px;
}
