<!-- 搜索输入框 -->
<nz-card @fadein style="margin-bottom: 20px;" class="search-box">
  <ng-template #body>
    <form nz-form [formGroup]="searchForm">

      <div nz-row nz-form-item>
        <!-- 账号 -->
        <div nz-form-label nz-col [nzSpan]="2"><label>账号</label></div>
        <div nz-form-control nz-col [nzSpan]="7">
          <nz-input formControlName="username" [nzPlaceHolder]="'搜索账号'" name="username"></nz-input>
        </div>
        <!-- 姓名 -->
        <div nz-form-label nz-col [nzSpan]="2"><label>姓名</label></div>
        <div nz-form-control nz-col [nzSpan]="7">
          <nz-input formControlName="realname" [nzPlaceHolder]="'搜索姓名'" name="username"></nz-input>
        </div>
        <!-- 按钮 -->
        <div nz-col [nzSpan]="6" style="text-align: right;">
          <nz-button-group>
            <button nz-button [nzType]="'primary'" [nzLoading]="http.loading" (click)="getList();">搜索</button>
            <button nz-button [nzType]="'default'" [nzLoading]="http.loading" (click)="searchForm.reset(); getList();">
              清空
            </button>
          </nz-button-group>

          <button nz-button [nzType]="'primary'" [nzLoading]="http.loading" (click)="showAdditBox('添加管理员');">添加</button>
        </div>
      </div>

    </form>
  </ng-template>
</nz-card>

<!-- 列表 -->
<nz-card [nzNoHovering]="true" @fadeInFromDown2Up>
  <ng-template #body>
    <nz-table #nzTable
              [nzAjaxData]="list"
              [nzShowSizeChanger]="false"
              [nzLoading]="http.loading"
              [nzTotal]="totalRecords"
              [(nzPageIndex)]="currentPage"
              [(nzPageSize)]="pageRowNum"
              (nzPageIndexChange)="getList()"
              (nzPageSizeChange)="getList()"
              (nzDataChange)="_displayDataChange($event)"
              (nzPageIndexChange)="_refreshStatus()"
              (nzPageSizeChange)="_refreshStatus()">
      <thead nz-thead>
      <tr>
        <th nz-th nzCheckbox>
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate"
                 (ngModelChange)="_checkAll($event)"></label>
        </th>
        <th nz-th><span>账号</span></th>
        <th nz-th><span>姓名</span></th>
        <th nz-th><span>电话</span></th>
        <th nz-th><span>所属部门</span></th>
        <th nz-th><span>角色</span></th>
        <th nz-th><span>性别</span></th>
        <th nz-th><span>状态</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">

        <td nz-td nzCheckbox>
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
          </label>
        </td>

        <td nz-td>{{data.username}}</td>
        <td nz-td>{{data.realname}}</td>
        <td nz-td>{{data.phone}}</td>
        <td nz-td>{{data.deptName}}</td>
        <td nz-td> {{data.roleNames}}</td>
        <td nz-td>{{data.sex === 0 ? '女士' : '先生'}}</td>

        <td nz-td [ngSwitch]="data.userStatus">
          <nz-dropdown [nzTrigger]="'click'">
            <a class="ant-dropdown-link" nz-dropdown>
              <span class="user-status-span user-status-normal" *ngSwitchCase="1">正常</span>
              <span class="user-status-span user-status-deny" *ngSwitchCase="0">冻结</span>
              <span class="user-status-span user-status-unknown" *ngSwitchDefault>未知</span>
              <i class="anticon anticon-down"></i>
            </a>
            <ul nz-menu>
              <li nz-menu-item (click)="updateUserStatus(data,0)"><span
                class="user-status-span user-status-deny">冻结</span></li>
              <li nz-menu-item (click)="updateUserStatus(data,1)"><span
                class="user-status-span user-status-normal">正常</span></li>
              <li nz-menu-item (click)="updateUserStatus(data,3)"><span
                class="user-status-span user-status-unknown">未知</span></li>
            </ul>
          </nz-dropdown>
        </td>


        <td nz-td class="table-buttons">
          <a class="table-btn-edit" (click)="showAdditBox('修改 - ' + data.username, data);">编辑</a>
          <span nz-table-divider></span>

          <nz-popconfirm [nzTitle]="'确定重置该用户密码?'" [nzOkText]="'确定'" [nzCancelText]="'取消'"
                         (nzOnConfirm)="resetPw(data.id);">
            <a class="table-btn-reset" nz-popconfirm>重置密码</a>
          </nz-popconfirm>

          <span nz-table-divider></span>

          <nz-popconfirm [nzTitle]="'确认删除?'" [nzOkText]="'确定'" [nzCancelText]="'取消'" (nzOnConfirm)="del(data.id);">
            <a class="table-btn-del" nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <nz-popconfirm [nzTitle]="'确认删除?'" [nzOkText]="'确定'" [nzCancelText]="'取消'" (nzOnConfirm)="batchDel();">
      <button nz-button [nzType]="'danger'" [nzLoading]="http.loading" nz-popconfirm>批量删除</button>
    </nz-popconfirm>
  </ng-template>
</nz-card>



<!-- 添加修改 -->
<ng-template #additBoxDept>
  <nz-tree #tree [nzNodes]="nodes" (nzActivate)="onActivateDept($event)"></nz-tree>
</ng-template>



<!-- 添加修改 -->
<ng-template #additBox>
  <form nz-form [formGroup]="additForm">
    <nz-input formControlName="id" name="id" [nzType]="'hidden'"></nz-input>
    <nz-input formControlName="deptId" name="deptId" [nzType]="'hidden'"></nz-input>

    <!-- 账号 -->
    <div nz-row nz-form-item>
      <div nz-form-label nz-col [nzSpan]="6"><label nz-form-item-required>账号</label></div>
      <div nz-form-control nz-col [nzSpan]="18">
        <nz-input formControlName="username" name="username"
                  [nzPlaceHolder]="'3~16位的英文字母/数字/中文/下划线'" [nzType]="'text'" [nzSize]="'large'"></nz-input>
        <ng-container *ngIf="fc(additForm, 'username').dirty || fc(additForm, 'username').touched">
          <p nz-form-explain *ngIf="fc(additForm, 'username').errors?.required">请输入管理员的账号</p>
          <p nz-form-explain *ngIf="fc(additForm, 'username').errors?.pattern">请输入正确格式的账号</p>
          <p nz-form-explain *ngIf="fc(additForm, 'username').errors?.checked">当期账号已存在</p>
        </ng-container>
      </div>
    </div>

    <!-- 姓名 -->
    <div nz-row nz-form-item>
      <div nz-form-label nz-col [nzSpan]="6"><label nz-form-item-required>姓名</label></div>
      <div nz-form-control nz-col [nzSpan]="18">
        <nz-input formControlName="realname" name="realname"
                  [nzPlaceHolder]="'2~16位的英文字母/数字/中文/下划线'" [nzType]="'text'" [nzSize]="'large'"></nz-input>
        <ng-container *ngIf="fc(additForm, 'realname').dirty || fc(additForm, 'realname').touched">
          <p nz-form-explain *ngIf="fc(additForm, 'realname').errors?.required">请输入管理员的姓名</p>
          <p nz-form-explain *ngIf="fc(additForm, 'realname').errors?.pattern">请输入正确格式的姓名</p>
        </ng-container>
      </div>
    </div>

    <!-- 电话 -->
    <div nz-row nz-form-item>
      <div nz-form-label nz-col [nzSpan]="6"><label nz-form-item-required>电话</label></div>
      <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
        <nz-input formControlName="phone" name="phone"
                  [nzPlaceHolder]="'中国大陆手机号'" [nzType]="'text'" [nzSize]="'large'"></nz-input>
        <ng-container *ngIf="fc(additForm, 'phone').dirty || fc(additForm, 'phone').touched">
          <p nz-form-explain *ngIf="fc(additForm, 'phone').errors?.required">请输入管理员的电话</p>
          <p nz-form-explain *ngIf="fc(additForm, 'phone').errors?.pattern">请输入正确格式的电话</p>
        </ng-container>
      </div>
    </div>


    <div nz-row nz-form-item>
      <div nz-form-label nz-col [nzSpan]="6"><label>所属部门</label></div>
      <div nz-form-control nz-col [nzSpan]="18">
        <nz-input formControlName="deptName" [nzType]="'text'" [nzSize]="'large'" nzReadonly
                  (click)="showAdditBoxDept('选择所属部门');" nzHasFeedback>
        </nz-input>
      </div>
    </div>


    <!-- 角色选择 -->
    <div nz-row nz-form-item>
      <div nz-form-label nz-col [nzSpan]="6"><label>角色</label></div>
      <div nz-form-control nz-col [nzSpan]="18">
        <nz-checkbox-group formControlName="roleIdList" name="roleIdList" [(ngModel)]="roleList"></nz-checkbox-group>
      </div>
    </div>

    <div nz-row class="buttons">
      <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="http.loading" (click)="saveOrUpdate()"
              [disabled]="additForm.invalid">确定
      </button>
      <button nz-button [nzSize]="'large'" [nzType]="'default'" [nzLoading]="http.loading"
              (click)="additModal.destroy();">取消
      </button>
    </div>

  </form>
</ng-template>




